@model BinkenJamen.Models.Bink

@{
    ViewData["Title"] = "CloseUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Nickname</h2>

<img alt="@Model.Nickname" src="@Model.ImageUrl" style="max-width: 70%; max-height: 65%;">
<div>@Model.LongDescription</div>